html {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}
@media only screen and (max-width: 990px) {
  html {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 0.33em;
  }
}

body {
  text-shadow: 0.01em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  color: #3f3c3d;
  background-image: url(../img/light.jpg);
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

.dark-mode {
  text-shadow: 0.01em 0.1em 0.1em rgb(0, 0, 0);
  background-image: url(../img/dark.jpg);
  background-size: cover;
  /* color: #083e4d; */
  color: rgb(124, 212, 241);
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

.title-top {
  text-align: center;
  font-size: 6em;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

#welcomeMessage {
  font-size: 3em;
}

.back-row {
  display: flex;
  justify-content: end;
  margin-right: 9em;
}

.button-back {
  text-align: center;
  width: 6em;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.589);
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 0.8em;
  margin-top: 2em;
  padding: 0em 0.5em;
  border-radius: 0.5em;
}
.button-back:hover {
  color: black;
  box-shadow: 0em 0em 0.1em 0.1em rgb(147, 122, 223);
  background-color: rgba(255, 255, 255, 0.932);
}

.board-game {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 40em;
  height: auto;
  background-color: rgba(255, 255, 255, 0.289);
  border-radius: 1em;
}

.box-score,
.box-check,
.box-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 15em;
  height: auto;
  margin: 0;
  padding: 1em;
}



.slot-win,
.slot-player{
  margin: 0.33em;
  width: 3em;
  height: 3em;
  border-radius: 3em;

}

.slot-check {
  margin: 0.8em 0.33em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-color: rgb(225, 225, 225);
  border: 0.2em solid rgb(255, 255, 255);
}

.tokens-winner {
  background-color:  rgb(136, 251, 82);
  border-radius: 1em;
}

.slot-player {
  background-color: rgba(255, 255, 255, 0.935);
}
.colour {
  margin: 0.33em;
  width: 0.4em;
  height: 2.5em;
  border: 0.2em solid black;
}
.colors-selection {
  background-color: rgba(255, 255, 255, 0.814);
  border-radius: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;

}


.color-blue {
  background-color: rgb(75, 151, 243);
  cursor: pointer;
}

.color-red{
  background-color:  rgb(251, 82, 82);
  cursor: pointer;
}

.color-green{
  background-color: rgb(136, 251, 82);
  cursor: pointer;
}
.button-remove,
.button-check {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  font-size: 3em;
}

.button-remove:hover{
  background-color: #ff000089;
  border-radius: 0.3em;
}
.button-check:hover {
  background-color: #26ff0089;
  border-radius: 0.3em;

}
.switchLight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

.emoticons {
  margin-right: 0.3em;
  font-size: 1.5em;
}

.theme-switch input[type="checkbox"] {
  display: none;
}

.theme-switch label {
  display: block;
  width: 2.2em;
  height: 1em;
  background: #ccc;
  border-radius: 2em;
  position: relative;
  cursor: pointer;
}

.theme-switch label:before {
  content: "";
  width: 1em;
  height: 1em;
  background: #fff;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.theme-switch input[type="checkbox"]:checked + label {
  background: rgb(33, 29, 29);
}

.theme-switch input[type="checkbox"]:checked + label:before {
  left: 1.3em;
}

