html {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1em;

}

body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 990px) {
  html {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 750px) {
    html {
      font-size: 0.5em;
    }
  }
  .text{
    font-size: 2.7em;
  }


@media only screen and (max-width: 680px) {
  html {
    font-size: 0.33em;
  }
  .rules{
    font-size: 3em;
  }
}

nav {
  background-color: black;
}

.nav-link {
  margin-left: 1rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 10em;
}
.ball-green {
  background-color: rgb(165, 241, 124);
  height: 7em;
  width: 7em;
  border-radius: 7em;
}

.ball-blue {
  background-color: rgb(124, 212, 241);
  height: 7em;
  width: 7em;
  border-radius: 7em;
}

.ball-purple {
  background-color: rgb(202, 124, 241);
  height: 7em;
  width: 7em;
  border-radius: 7em;
}

.ball-yellow {
  background-color: rgb(220, 241, 124);
  height: 7em;
  width: 7em;
  border-radius: 7em;
}

.ball-green {
    animation: move-ball 3s ease-in-out 3s;
}
.ball-blue {
    animation: move-ball 3s ease-in-out 4s;
}
.ball-purple{
    animation: move-ball 3s ease-in-out 5s;
}
.ball-yellow{
    animation: move-ball 3s ease-in-out 6s;
}

@keyframes move-ball {
    0% {
        transform: translateY(0em);
    }
    50% {
        transform: translateY(-2em);
    }
    100% {
        transform: translateY(0em);
    }
}
.play{
    padding: 0.1em;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0em;
    margin-top: 2em;
    font-size: 2em;
    height: auto;
}
.button-play {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 3em;
    width: 6em;
    cursor: pointer;
    text-decoration: none;
}
.button-play:hover{
    color: rgb(124, 241, 181);
    background-color: rgb(255, 255, 255);
    border: 0.1em solid black;
}

.rules{
    width: 80em;
    margin: 4em;
    padding-bottom: 0.5em;
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: black;
}
summary{
    padding-left: 0.5em;
    font-size: 2em;
}
.rules-text{
    font-size: 0.5em;
    background-color: rgb(255, 255, 255);
    color: black;

}
.text{
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;

}