.container-fluid {
    display: flex;
    justify-content: center;
}
.title-top{
    display: flex;
    justify-content: center;
}
#welcomeMessage {
    font-size: 4em;
    color: rgb(44, 44, 39);
}
.box-score{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(138, 127, 255);
    width: 10em;
    height: auto;
    margin: 0;
    padding: 1em;
}
.box-check{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(165, 232, 103);
    width: 6em;
    height: auto;
}
.box-game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    background-color: rgb(225, 119, 48);
    width: 14em;
    height: auto;
}

.slot-win, .slot-player, .colour, .check {
    margin: 0.33em;
    width: 3em;
    height: 3em;
}
.check{
    background-color: aliceblue;
    width: 0.5em;
}
.tokens-winner {
    background-color: rgb(113, 211, 211);
}

.slot-win {
    background-color: rgb(0, 0, 0);
}

.slot-player {
    background-color: black;
}

.colors-selection {
    background-color:     rgb(202, 124, 241);
}

.color-green {
    background-color: green;
    cursor: pointer;
}
.color-red {
    background-color: red;
    cursor: pointer
}
.color-blue {
    background-color: blue;
    cursor: pointer
}

.button-remove{
    cursor: pointer;
    background-color: rgb(231, 139, 11);
    width: 3em;
    height: 3em;
}
.button-check{
    cursor: pointer;
    background-color: rgb(204, 250, 135);
    width: 3em;
    height: 3em;
}



.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .switchLight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.125em;
    font-size: 0.9375em;
  }
  
  .emoticons {
    margin-right: 0.3125em;
  }
  
  .dark-mode {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
  
  .theme-switch input[type="checkbox"] {
    display: none;
  }
  
  .theme-switch label {
    display: block;
    width: 1.25em;
    height: 0.625em;
    background: #ccc;
    border-radius: 0.625em;
    position: relative;
    cursor: pointer;
  }
  
  .theme-switch label:before {
    content: '';
    width: 0.625em;
    height: 0.625em;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
  
  .theme-switch input[type="checkbox"]:checked + label {
    background: #333;
  }
  
  .theme-switch input[type="checkbox"]:checked + label:before {
    left: 0.625em;
  }
  