/* Estilos generales */

html {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1em;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  html {
      font-size: 0.7em;
  }
}

@media only screen and (max-width: 750px) {
  html {
      font-size: 0.5em;
  }
}

.text {
  font-size: 2.7em;
}

@media only screen and (max-width: 680px) {
  html {
      font-size: 0.33em;
  }
  .rules {
      font-size: 3em;
  }
}

/* Estilos de navegación */

nav {
  background-color: black;
}

.nav-link {
  margin-left: 1rem;
  font-size: 1.2rem;
}

/* Estilos de encabezado */

h1 {
  text-align: center;
  font-size: 10em;
}

/* Estilos de tokens con animaciones */

.token {
  height: 7em;
  width: 7em;
}

.token-green {
  background-color: rgb(165, 241, 124);
  animation: move-token 3s ease-in-out 3s;
}

.token-blue {
  background-color: rgb(124, 212, 241);
  animation: move-token 3s ease-in-out 4s;
}

.token-purple {
  background-color: rgb(202, 124, 241);
  animation: move-token 3s ease-in-out 5s;
}

.token-yellow {
  background-color: rgb(220, 241, 124);
  animation: move-token 3s ease-in-out 6s;
}

@keyframes move-token {
  0% {
      transform: translateY(0em);
  }
  50% {
      transform: translateY(-2em);
  }
  100% {
      transform: translateY(0em);
  }
}

/* Estilos para elementos de juego */

.play {
  padding: 0.1em;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0em;
  margin-top: 2em;
  font-size: 2em;
  height: auto;
}

.button-play {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 3em;
  width: 6em;
  cursor: pointer;
  text-decoration: none;
}

.button-play:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 0.1em solid black;
}

/* Estilos para reglas */

.rules {
  width: 100%;
  margin: 4em;
  padding-bottom: 0.5em;
  color: black;
  display: flex;
  justify-content: center;
  height: auto;
}

summary {
  text-align: center;
  padding-left: 0.5em;
  font-size: 2em;
}

.rules-text {
  font-size: 0.5em;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 0.1em solid black;
}

.text {
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}

/* Estilos para elementos de nickname */

.container {
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center;
}

/* Estilos para elementos de color y nivel */

.color {
  width: 1em;
}


.nick {
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5em;
}

.container-level {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.container-colors {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tittle {
  text-align: center;

  margin-top: 1em;
}

.colours {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 7em;
}

.token {
  height: 5.2em;
  width: 5.2em;
}

.levels {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.level {
  width: 7em;
  text-align: center;
  background-color: rgb(165, 241, 124);
  color: rgb(0, 0, 0);
  border: none;
  padding:0.3em 0em 0.3em 0em;
  margin:0em 0.2em 0em 0.2em ;
  border-radius: 0.1em;
  cursor: pointer;
  font-size: 1em;
  border: 0.1em solid black;

}
.level:hover {
  color: rgb(31, 67, 70);
}




a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
